@font-face {
    font-family: fnmedium;
    src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: fnlight;
    src: url(../assets/fonts/Poppins-Light.ttf);
}

body{
    scroll-behavior: smooth;
}
/* HEADER */
.header{
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid #d4d4d4d9;
    z-index: 99;
}
.header__nav{
    max-width: 1400px;
    width: 100%;
    min-width: 400px;
    margin: 0 auto;
    background-color: transparent !important;
}

.container{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    text-align: center !important;
    background-color: none;
}
/* DIV DE LA IMAGÉN Y EL TEXTO */
.header__img{
    width: 100px;
    padding: 10px 0px;
}
.header__link{
    text-decoration: none;
    color: #9A999E;
}

/* MENÚ */
.nav-item{
    padding: 0px 5px;
    
}
.nav-link{
    color: #18A1B0 !important;
    transition: all 1s ease;
    font-size: 1.1rem;
    font-family: fnmedium;
}
.nav-link:hover{
    color: #236168 !important;
    transform: scale(1.1);
}
.dropdown-item{
    color: #18A1B0 !important;
    border-bottom: 1px solid #18A1B0;
    padding: 5px 20px;
    transition: all 0.5s ease;
}
.dropdown-item:hover{
    background-color: #18A1B0;
    color: #FFFFFF !important;
}
.dropdown-item__none{
    border: none;
}

/* ICON */
.contenedor__icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div__icon{
    color: #18A1B0 !important;
    transition: all 1s ease;
    font-size: 1.5rem;
    padding: 0px 10px;
}
.div__icon:hover{
    color: #236168 !important;
    transform: scale(1.1);
}
.form-control__header{
    border: none;
    border-bottom: 1px solid #18A1B0;
    outline: none;
    color: #18A1B0;
}
.form-control__header:hover{
    border: none;
    border-bottom: 1px solid #18A1B0;
    outline: none;
    color: #18A1B0;
}
.form-control__header::placeholder{
    outline: none;
    color: #18A1B0;
}
.form-control__header:focus{
    outline: none;
    color: #18A1B0;
}
.btn__icon{
    border: none;
}

.container__scroll{
    position: fixed;
    right: 15px;
    position: fixed;
    z-index: 5;
    bottom: 20px;
   
}
.link__scroll{
    border: 1px solid #18A1B0;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #18A1B0;
    border-radius: 5px;
    text-decoration: none;
}