@font-face {
    font-family: fnmedium;
    src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: fnlight;
    src: url(../assets/fonts/Poppins-Light.ttf);
}

body{
    background-color: #ffffff;
    scroll-behavior: smooth;
}

/* SECTION IMAGEN Y TEXTO INICIO */
.div__inicio{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/clinica_fisio.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    height: 700px;
    width: 100%;
}
.contenedor__texto{
    max-width: 1400px;
    width: 100%;
    min-width: 400px;
    margin: 0 auto;
    position: relative;
    top: 320px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inicio__h1{
    color: #ffffff;
    font-family: fnmedium;
    font-size: 3.5rem
}
.inicio__h2{
    color: #ffffff;
    font-family: fnmedium;
}
.inicio__link{
    margin: 10px 0px;
    background-color: #D28C15;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: all 1s ease;
    font-family: fnlight;
}
.inicio__link:hover{
    background-color: #a37017;
}

.div__inicio--peque{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/clinica_fisio.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    height: 400px;
    width: 100%;
}
.contenedor__texto--peque{
    max-width: 1400px;
    width: 100%;
    min-width: 400px;
    margin: 0 auto;
    position: relative;
    top: 200px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inicio__h1--peque{
    font-size: 2.5rem
}
.inicio__h2--peque{
    font-size: 1.5rem
}
.inicio__link--peque{
    margin: 10px 0px;
    padding: 5px 10px;
    font-size: 1rem;
}




/* CONTENEDOR */
.main{
    max-width: 1400px;
    width: 100%;
    min-width: 400px;
    margin: 0 auto;
}


/* INFORMACIÓN */
.section__info{
    margin: 50px 0px;
}
.article__info{
    margin: 10px 0px;
}
.info__icon{
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #18A1B0;
    padding: 15px;
    border-radius: 180px;
    margin: 10px 0px;
}
.info__h3{
    font-family: fnmedium;
    font-size: 1.5rem;
    color: #18A1B0;
}
.info__text{
    font-family: fnlight;
    color: #000;
    text-align: center;
    padding: 0px 0px 10px 0px;
}
.info__boton{
    border: 1px solid #18A1B0;
    text-decoration: none;
    color: #18A1B0;
    font-family: fnlight;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.info__boton:hover{
    background-color: #18A1B0;
    color: #ffffff;
}

/* TESTIMONIOS CAROUSEL */
.container__testimonio{
    text-align: center;
    margin: 40px 0px;
}
.testimonio__h3{
    font-family: fnmedium;
    color: #18A1B0;
}
.testimonio__google{
    width: 100px;
}
.testimonio__h4{
    padding: 10px 0px 0px;
    font-family: fnmedium;
    color: #18A1B0;
}
.testimonio__text{
    font-family: fnlight;
}
.testi__icon{
    color: #F6BB06;
    font-size: 1.2rem;
}
/* CARROUSEL */
.article__carousel{
    margin: 30px 0px;
    text-align: center;
}
.carousel__img{
    width: 1000px;
}
.carousel__img--peque{
    width: 400px;
}
.carousel-control-next-icon{
    color: #000;
}
.article__boton{
    margin: 10px 0px;
}
.testimonios__boton{
    background-color: #F6BB06;
    text-decoration: none;
    color: #ffffff;
    font-family: fnlight;
    padding: 5px 20px;
    font-size: 1.3rem;
    border-radius: 10px;
    border: 1px solid #F6BB06;
    transition: all 1s ease;
}
.testimonios__boton:hover{
    background-color: #ffffff;
    color: #F6BB06;
}

/* ALERT */
.alert__fixed{
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 10px;
    border: 1px solid #18A1B0;
    width: 500px;
}
.article__botones{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cookies__h4{
    font-family: fnmedium;
    color: #18A1B0;
    padding: 5px 0px 0px ;
}
.cookies__text{
    font-family: fnlight;
}
.cookies__boton{
    text-decoration: none;
    border: 1px solid #18A1B0;
    padding: 10px 25px;
    border-radius: 5px;
    color: #18A1B0;
}
.cookies__boton:hover{
    color: #1b7079;
}
.cookies__boton--azul{
    background-color: #18A1B0;
    color: #ffffff;
}
.cookies__boton--azul:hover{
    background-color: #1b7079;
    color: #ffffff;
    border: 1px soli #1b7079;
}

.displayflex{
    display: none;
}

/* FLECHA PARA SUBIR AL INICIO */
.container__scroll{
    position: fixed;
    right: 15px;
    position: fixed;
    z-index: 5;
    bottom: 20px;
   
}
.link__scroll{
    border: 1px solid #18A1B0;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #18A1B0;
    border-radius: 5px;
    text-decoration: none;
}